body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Default text color */
    background-color: #f5f5f5; /* Background color for the body */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Heading color */
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Label text color */
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 40px); /* Adjusted width to accommodate eye icon */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Smooth transition for input focus */
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff; /* Highlight border color on focus */
}

.password-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777; /* Eye icon color */
    transition: color 0.3s ease; /* Smooth transition for icon color change */
}

.toggle-password:hover {
    color: #333; /* Darken eye icon color on hover */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button color change */
}

button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
